<mat-toolbar>
  <img src="assets/foto%20p%20perfil2.jpg" alt="foto perfil">
  <ul>
    <li><a class="links" href="https://www.linkedin.com/in/gustavoafonsobrito/">Linkedin</a></li>
    <span>•</span>
    <li><a class="links" href="https://github.com/gustavoacbrito">GitHub</a></li>
  </ul>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
