.mat-toolbar{
  background-color: #001737;
  color: white;
  box-shadow: -2px 2px 50px 6px rgba(0,0,0,0.75);
  font-family: 'Patua One', cursive;
}
.mat-toolbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.links {
  text-decoration: none;
  color: white;
}
.mat-toolbar > ul > span {
  margin-right: 1em;
  margin-left: 1em;
}
.mat-toolbar > img{
  width: 40px;
  border-radius: 100%;
  margin-right:15px;
}
.example-icon{
  background-color: #001737;
  border: none;
  color: white;
}
.example-spacer {
  flex: 1 1 auto;
}

